
extends ../layouts/layout.jade


block title
	title Страница каталога

block content

	//- .catalog-list.cl.grid
	.catalog-list.cl.grid
		.catalog-item.cl.easing
			.cat-img-wrap
				img.cat-img(src="/upload/cat-img-1.jpg" alt="")
			.cat-desc-wrap
				.cat-desc-title
					a.cat-desc-title-link(href="javascript://") Apple Thunderbolt Display 27"
				.cat-desc-text
					ul.cat-desc-text-list
						li.cat-desc-text-item.cl
							span.cat-desc-label Артикул
							span.cat-desc-value 42787825
						li.cat-desc-text-item.cl
							span.cat-desc-label Опция
							span.cat-desc-value включена
						li.cat-desc-text-item.cl
							span.cat-desc-label Цвет
							span.cat-desc-value серебристый
						li.cat-desc-text-item.cl
							span.cat-desc-label Размер
							span.cat-desc-value 1280*1245*90
						li.cat-desc-text-item.cl
							span.cat-desc-label Вес
							span.cat-desc-value 9 кг
		.catalog-item.cl.easing
			.cat-img-wrap
				img.cat-img(src="/upload/cat-img-2.jpg" alt="")
			.cat-desc-wrap
				.cat-desc-title
					a.cat-desc-title-link(href="javascript://") Apple iMac 27"
				.cat-desc-text
					ul.cat-desc-text-list
						li.cat-desc-text-item.cl
							span.cat-desc-label Артикул
							span.cat-desc-value 42787825
						li.cat-desc-text-item.cl
							span.cat-desc-label Опция
							span.cat-desc-value включена
						li.cat-desc-text-item.cl
							span.cat-desc-label Цвет
							span.cat-desc-value серебристый
						li.cat-desc-text-item.cl
							span.cat-desc-label Размер
							span.cat-desc-value 1280*1245*90
						li.cat-desc-text-item.cl
							span.cat-desc-label Вес
							span.cat-desc-value 9 кг
		.catalog-item.cl.easing
			.cat-img-wrap
				img.cat-img(src="/upload/cat-img-3.jpg" alt="")
			.cat-desc-wrap
				.cat-desc-title
					a.cat-desc-title-link(href="javascript://") iPhone 5s Gold
				.cat-desc-text
					ul.cat-desc-text-list
						li.cat-desc-text-item.cl
							span.cat-desc-label Артикул
							span.cat-desc-value 42787825
						li.cat-desc-text-item.cl
							span.cat-desc-label Опция
							span.cat-desc-value включена
						li.cat-desc-text-item.cl
							span.cat-desc-label Цвет
							span.cat-desc-value серебристый
						li.cat-desc-text-item.cl
							span.cat-desc-label Размер
							span.cat-desc-value 1280*1245*90
						li.cat-desc-text-item.cl
							span.cat-desc-label Вес
							span.cat-desc-value 9 кг
		.catalog-item.cl.easing
			.cat-img-wrap
				img.cat-img(src="/upload/cat-img-4.jpg" alt="")
			.cat-desc-wrap
				.cat-desc-title
					a.cat-desc-title-link(href="javascript://") iPad Air Wi-Fi + Cellular 128GB - Silver
				.cat-desc-text
					ul.cat-desc-text-list
						li.cat-desc-text-item.cl
							span.cat-desc-label Артикул
							span.cat-desc-value 42787825
						li.cat-desc-text-item.cl
							span.cat-desc-label Опция
							span.cat-desc-value включена
						li.cat-desc-text-item.cl
							span.cat-desc-label Цвет
							span.cat-desc-value серебристый
						li.cat-desc-text-item.cl
							span.cat-desc-label Размер
							span.cat-desc-value 1280*1245*90
						li.cat-desc-text-item.cl
							span.cat-desc-label Вес
							span.cat-desc-value 9 кг
		.catalog-item.cl.easing
			.cat-img-wrap
				img.cat-img(src="/upload/cat-img-5.jpg" alt="")
			.cat-desc-wrap
				.cat-desc-title
					a.cat-desc-title-link(href="javascript://") Apple iPod nano 7G 16 ГБ Blue
				.cat-desc-text
					ul.cat-desc-text-list
						li.cat-desc-text-item.cl
							span.cat-desc-label Артикул
							span.cat-desc-value 42787825
						li.cat-desc-text-item.cl
							span.cat-desc-label Опция
							span.cat-desc-value включена
						li.cat-desc-text-item.cl
							span.cat-desc-label Цвет
							span.cat-desc-value серебристый
						li.cat-desc-text-item.cl
							span.cat-desc-label Размер
							span.cat-desc-value 1280*1245*90
						li.cat-desc-text-item.cl
							span.cat-desc-label Вес
							span.cat-desc-value 9 кг
		.catalog-item.cl.easing
			.cat-img-wrap
				img.cat-img(src="/upload/cat-img-6.jpg" alt="")
			.cat-desc-wrap
				.cat-desc-title
					a.cat-desc-title-link(href="javascript://") Роутер Wi-Fi Apple AirPort Extreme Base Station
				.cat-desc-text
					ul.cat-desc-text-list
						li.cat-desc-text-item.cl
							span.cat-desc-label Артикул
							span.cat-desc-value 42787825
						li.cat-desc-text-item.cl
							span.cat-desc-label Опция
							span.cat-desc-value включена
						li.cat-desc-text-item.cl
							span.cat-desc-label Цвет
							span.cat-desc-value серебристый
						li.cat-desc-text-item.cl
							span.cat-desc-label Размер
							span.cat-desc-value 1280*1245*90
						li.cat-desc-text-item.cl
							span.cat-desc-label Вес
							span.cat-desc-value 9 кг


//- Хлебные крошки
block pathPage
	//- Индекс страницы
	- var pageId = 1;
	//- Используем примесь и добавляем в него данные навигации
	+path([{
		name: 'Главная',
		href: '/'
	}, {
		name: 'Каталог',
		href: 'javascript://'
	}])