.filter-bl.cl
	.pagination.easing
		ul.paginationlist.cl
			li.pagination-item.active
				span 1
			li.pagination-item
				a(href="javascript://").pagination-link 2
			li.pagination-item
				a(href="javascript://").pagination-link 3
			li.pagination-item
				a(href="javascript://").pagination-link 4
			li.pagination-item
				a(href="javascript://").pagination-link 5
			li.pagination-item.all
				a(href="javascript://").pagination-link Все
	.marking-toggle
		//- select.marking-toggle__select
		//- 	option(selected="selected", value="grid") Сеткой
		//- 	option(value="lines") Линиями


		.dropdown-ninja
			span.dropdown-placeholder(data-index="") Сеткой
			ul.dropdown
				li: a(href="javascript://") Сеткой
				li: a(href="javascript://") Линиями

