header.page-header
	.conteiner.cl
		a.header-logo-link
			img.header-logo-img(src="img/logo-header.png", alt="logo")
			span.header-logo-text Страница интернет магазина
		ul.contacts-list
			li.contacts-item
				a.contacts-phone(href="tel:+79213221232")
					sup.contacts-phone__blue-text +7 (921)
					span.contacts-phone__grey-text 322 12 32
			li.contacts-item
				a.contacts-email.easing(href="mailto:manager@company.com") manager@company.com
include ../common/navigate.jade