head
	meta(charset="UTF-8")
	meta(http-equiv="x-ua-compatible", content="ie=edge")
	block title
		title dzv1_03_2015

	// SEO
	meta(name="description", content="loftscool_homework")
	meta(name="keywords", content="loftscool_homework")
	meta(name="author", content="Omlet")

	// CSS
	<!-- build:css css/vendor.min.css -->
	// bower:css
	link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
	// endbower
	<!-- endbuild -->

	<!-- build:css fonts/fonts.min.css -->
	link(rel="stylesheet", href="fonts/fonts.css")
	<!-- endbuild -->

	<!-- build:css css/main.min.css -->
	link(rel="stylesheet", href="css/index.css")
	link(rel="stylesheet", href="css/catalog_list.css")
	<!-- endbuild -->

	// JS
	<!-- build:js js/headscripts.js -->
	script(src='/bower/modernizr/modernizr.js')
	<!-- endbuild -->