.menu-catalog
	ul.menu-catalog-list.easing
		li.menu-catalog-item.active
			a.menu-catalog-link(href="javascript://"): span.menu-catalog-link-text iPhone
			ul.sublayer-list
				li.sublayer-item
					a.sublayer-link(href="javascript://"): span.sublayer-link-text iPhone 4s
				li.sublayer-item
					a.sublayer-link(href="javascript://"): span.sublayer-link-text iPhone 5
				li.sublayer-item
					a.sublayer-link(href="javascript://"): span.sublayer-link-text iPhone 5s с эксклюзивным дизайном
				li.sublayer-item
					a.sublayer-link(href="javascript://"): span.sublayer-link-text iPhone 6
				li.sublayer-item
					a.sublayer-link(href="javascript://"): span.sublayer-link-text iPhone 6 Plus
		li.menu-catalog-item
			a.menu-catalog-link(href="javascript://"): span.menu-catalog-link-text iPad
		li.menu-catalog-item
			a.menu-catalog-link(href="javascript://"): span.menu-catalog-link-text iMac
		li.menu-catalog-item
			a.menu-catalog-link(href="javascript://"): span.menu-catalog-link-text Macbook
		li.menu-catalog-item
			a.menu-catalog-link(href="javascript://"): span.menu-catalog-link-text iPod
		li.menu-catalog-item
			a.menu-catalog-link(href="javascript://"): span.menu-catalog-link-text Другое