
@font-face {
    font-family: 'elektra_light_probold';
    src: url('font-web.eot');
    src: url('font-web.eot?#iefix') format('embedded-opentype'),
         url('font-web.woff2') format('woff2'),
         url('font-web.woff') format('woff'),
         url('font-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'elektra_medium_proregular';
    src: url('elektra_medium_pro-web.eot');
    src: url('elektra_medium_pro-web.eot?#iefix') format('embedded-opentype'),
         url('elektra_medium_pro-web.woff2') format('woff2'),
         url('elektra_medium_pro-web.woff') format('woff'),
         url('elektra_medium_pro-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'elektra_medium_proitalic';
    src: url('elektra_medium_pro_italic-web.eot');
    src: url('elektra_medium_pro_italic-web.eot?#iefix') format('embedded-opentype'),
         url('elektra_medium_pro_italic-web.woff2') format('woff2'),
         url('elektra_medium_pro_italic-web.woff') format('woff'),
         url('elektra_medium_pro_italic-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'elektra_light_proregular';
    src: url('elektra_light_pro-web.eot');
    src: url('elektra_light_pro-web.eot?#iefix') format('embedded-opentype'),
         url('elektra_light_pro-web.woff2') format('woff2'),
         url('elektra_light_pro-web.woff') format('woff'),
         url('elektra_light_pro-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}